html
  head
    script(src='https://kit.fontawesome.com/05ef113fe5.js', crossorigin='anonymous')
    link(rel="stylesheet",href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    link(rel="stylesheet" , href="/style/create.css")
  body(style='background-image: url("/images/background.png");')
    if user
      p= user.name
    .container
      block content