extends ../layout/commom.pug
block content
  .container
    h3 Buy something
    br
    br
    table.table(style="text-align:center")#table
      tr
        th Choose
        th Name
        th Số Lượng
        th Price
        th Money
      each item in value
        tr
          td 
            input(type="checkbox").checkbox
          td= item.name
          td= item.amount
          td= item.price
          td.total= item.money
    span Total Money
    span &nbsp
    span &nbsp
    span &nbsp
    p#total

  
